
 .body{
  margin: inherit;
  padding:0;
  min-height: 100vh;
  background: repeating-linear-gradient(165deg, #1792be 0%, #182848 50%,  #41db96 100%);
  color:white;
  font-family: Roboto;
 }

 .pag{
   padding: 1em;
 }

 .btn{
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #FFFfFF;
  border-radius:0.15em;
  padding:0.4em 1.1em;
  margin:0 0.3em 0.3em 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:none;
  text-align:center;
  display:inline-block;
  width: fit-content;
 }

 .btn:hover{
  background: linear-gradient(165deg, #ff5f6d 0%, #ffc371 100%);
 }

 table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 10px;
  font-size: smaller;
}

div.field_with_errors {
  display: inline;
}

.nav{
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-menu{
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0;
  padding: 0.1em;
}

.nav-menu ul{
  display: inline-block;
  margin: 1px 10px;
  padding: 0;
  list-style: none;
}

.nav-menu ul li{
  margin:2px 3px 0 0;
  color: white;
  float: left;
  font-variant-caps: normal;
  font-weight: bold;
  border: solid 3px white;
}

.btn_nav{
  display:block;
  padding:0.5em 1em;
  color: inherit;
  text-decoration: none;
}

.btn_nav:hover{
  background: linear-gradient(165deg, #ff5f6d 0%, #ffc371 100%);
}

.user {
  float: right;
  top:10px;
  border: solid px white;
}


.devise-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.3);
  border-radius: 10px;
  font-size: 13px;
}
.devise-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color:white;
  text-align: center;
}

.devise-box .user-box input {
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  color:white;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}
.devise-box .user-box label {
  width: 100%;
  padding: 5px 0;
  font-size: 13px;
  color:white;
  margin-bottom: 10px;
  border: none;
  outline: none;
  background: transparent;

}

::placeholder{
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 13px;
  color: white;
  pointer-events: none;
  opacity: .7;
}

.devise-box .actions {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #FFFfFF;
  border-radius:0.15em;
}

.actions:hover{
  background: linear-gradient(165deg, #ff5f6d 0%, #ffc371 100%);
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;}